<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9" role="main">
      <form id="easy424Form" class="form-horizontal" role="form">

        <section id="typeInfo"></section>

        <!-- Type of Submission -->
        <div class="form-group">
          <label class="easyPopover col-sm-3 control-label" for="typeOfSubmission" data-trigger="manual"
                 data-placement="auto" data-title="Type of Submission (required)" data-content='Check one of the Type of Submission boxes. If this submission is to change or correct a previously submitted "New", "Resubmission", "Renewal", or "Revision" application, click the Changed/Corrected Application box and enter the Grants.gov tracking number in the Previous Grants.gov Tracking ID field. Unless requested by the agency, applicants may not use this to submit changes after the closing date.'>
            * 1. <span class="easytooltip">Type of Submission</span>:
          </label>
          <div class="col-sm-9 controls">
            <label class="radio" for="typeOfSubmission-0">
              <input type="radio" name="typeOfSubmission" id="typeOfSubmission-0" class="typeSectionCompleted" value="Preapplication">
              Preapplication
              <span class="easyPopover glyphicon glyphicon-question-sign" data-trigger="manual"
                    data-placement="auto bottom" data-title='Pre-Application' data-container='body'
                    data-content='Unless specifically noted in a program announcement, the Pre-application option is not used by NIH and other PHS agencies.'></span>
            </label>
            <label class="radio" for="typeOfSubmission-1">
              <input type="radio" name="typeOfSubmission" id="typeOfSubmission-1" class="typeSectionCompleted" value="Application">
              Application
            </label>
            <label class="radio" for="typeOfSubmission-2">
              <input type="radio" name="typeOfSubmission" id="typeOfSubmission-2" class="typeSectionCompleted"
                value="Changed/Corrected Application">
                Changed/Corrected Application
                <span class="easyPopover glyphicon glyphicon-question-sign" data-trigger='manual'
                      data-placement='auto bottom' data-title='Changed/Corrected Application' data-container='body'
                      data-content='This box must be used if you need to submit the same application again to correct system validation errors, application assembly problems, or to incorporate other changes. When submitting a Changed/Corrected Application.'></span>
            </label>
          </div>
        </div>

        {{!-- Lead Unit --}}
        <div class="form-group">
          <label class="col-sm-3 control-label" for="prefix">Lead Unit:</label>
          <div class="col-sm-9 controls">
            <select id="prefix" name="prefix" class="form-control">
              <option></option>
              <option value="9">Construction</option>
              <option value="7">Fellowship - Post-Doctoral</option>
              <option value="6">Fellowship - Pre-Doctoral</option>
              <option value="2">Instruction</option>
              <option value="5">Other</option>
              <option value="3">Public Service</option>
              <option value="1">Research</option>
            </select>
          </div>
        </div>

        {{!-- Lead Unit --}}
        <div class="form-group">
          <label class="col-sm-3 control-label" for="prefix">Activity Type:</label>
          <div class="col-sm-9 controls">
            <select id="prefix" name="prefix" class="form-control">
              <option></option>
              <option value="9">Construction</option>
              <option value="7">Fellowship - Post-Doctoral</option>
              <option value="6">Fellowship - Pre-Doctoral</option>
              <option value="2">Instruction</option>
              <option value="5">Other</option>
              <option value="3">Public Service</option>
              <option value="1">Research</option>
            </select>
          </div>
        </div>

        <!-- Type of Application -->
        <hr>
        <div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="typeOfApplication">* 2. Type of Application:</label>
            <div class="col-sm-9 controls">
              <label class="radio" for="typeOfApplication-0">
                <input type="radio" class="typeOfApplication typeSectionCompleted" name="typeOfApplication" id="typeOfApplication-0"
                  value="New">
                New
              </label>
              <label class="radio" for="typeOfApplication-1">
                <input type="radio" class="typeOfApplication typeSectionCompleted" name="typeOfApplication" id="typeOfApplication-1"
                  value="Continuation">
                Continuation
              </label>
              <label class="radio" for="typeOfApplicationRevision">
                <input type="radio" class="typeOfApplication typeSectionCompleted" name="typeOfApplication" id="typeOfApplicationRevision"
                  value="Revision">
                Revision
              </label>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="revisionType">* If Revision, select appropriate letter(s)</label>
            <div class="col-sm-9 controls">
              <select id="revisionType" name="revisionType" class="form-control" disabled>
                <option></option>
                <option value="A">A: Increase Award</option>
                <option value="B">B: Decrease Award</option>
                <option value="C">C: Increase Duration</option>
                <option value="D">D: Decrease Duration</option>
                <option value="E">E: Other (specify)</option>
                <option value="AC">AC: Increase Award, Increase Duration</option>
                <option value="AD">AD: Increase Award, Decrease Duration</option>
                <option value="BC">BC: Decrease Award, Increase Duration</option>
                <option value="BD">BD: Decrease Award, Decrease Duration</option>
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="revisionOtherText">* Other (Specify):</label>
            <div class="col-sm-9 controls">
              <input id="revisionOtherText" name="revisionOtherText" type="text" placeholder="" class="form-control" disabled>
            </div>
          </div>
        </div>

        <!-- Date Received -->
        <hr>
        <div class="form-group">
          <label class="easyPopover col-sm-3 control-label" for="dateReceived" data-trigger='manual'
                 data-placement='auto' data-container='body' data-title='Date Received (required)'
                 data-content='Enter the date the application is submitted to Federal agency (or State if applicable).'>
            * 3. <span class="easytooltip">Date Received</span>:
          </label>
          <div class="col-sm-9 controls">
            <input id="dateReceived" name="dateReceived" type="date" placeholder="mm/dd/yyyy" class="form-control typeSectionCompleted"
              data-provide="datepicker" required>
          </div>
        </div>

        <!-- Applicant Identifier -->
        <hr>
        <div class="form-group">
          <label class="easyPopover col-sm-3 control-label" for="applicantIdentifier" data-trigger='manual'
                 data-placement='auto' data-container='body' data-title='Applicant Identifier'
                 data-content='Enter the applicant’s control number (if applicable).'>
            4. <span class="easytooltip">Applicant Identifier</span>:
          </label>
          <div class="col-sm-9 controls">
            <input id="applicantIdentifier" name="applicantIdentifier" type="text" placeholder="" class="form-control"
              minlength="2">
          </div>
        </div>

        <!-- Federal Entity / Award Identifier -->
        <hr>
        <div>
          <div class="form-group">
            <label class="easyPopover col-sm-3 control-label" for="federalEntityIdentifier"
                   data-trigger='manual' data-placement='auto' data-container='body' data-title='Federal Entity Identifier'
                   data-content='When a New Application is being submitted following a Pre-Application, enter the agency-assigned pre- application number, if applicable.'>
              5a. <span class="easytooltip">Federal Entity Identifier</span>:
            </label>
            <div class="col-sm-9 controls">
              <input id="federalEntityIdentifier" name="federalEntityIdentifier" type="text" placeholder="" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="easyPopover col-sm-3 control-label" for="federalAwardIdentifier"
                   data-trigger='manual' data-placement='auto' data-container='body' data-title='Federal Award Identifier'
                   data-content='If this is a continuation, revision, or renewal application, enter the assigned Federal Identifier number (for example, award number) even if submitting a Changed/Corrected application.'>
              5b. <span class="easytooltip">Federal Award Identifier</span>:
            </label>
            <div class="col-sm-9 controls">
              <input id="federalAwardIdentifier" name="federalAwardIdentifier" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <!-- State Use Only -->
        <hr>
        <div class="form-group">
          <label class="easyPopover col-sm-3 control-label" data-trigger='manual' data-placement='auto'
                 data-container='body' data-title='Date Received by State and State Application Identifier'
                 data-content='Enter the date received by state (if applicable). In the State Application Identifier field, enter the state application identifier, if applicable. For submissions to NIH and other PHS agencies, leave these fields blank.'>
            <span class="easytooltip">State Use Only</span>:
          </label>
          <div class="col-sm-9">
            <p class="form-control-static"> </p>
          </div>
        </div>

        <!-- Date Received by State / State Application Identifier -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="dateReceivedByState">6. Date Received by State:</label>
          <div class="col-sm-9 controls">
            <input id="dateReceivedByState" name="dateReceivedByState" type="date" placeholder="mm/dd/yyyy" class="form-control"
              data-provide="datepicker">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="stateApplicationIdentifier">7. State Application Identifier:</label>
          <div class="col-sm-9 controls">
            <input id="stateApplicationIdentifier" name="stateApplicationIdentifier" type="text" placeholder="" class="form-control">
          </div>
        </div>

        <!-- Applicant Information -->
        <hr>
        <section id="applicantInfo"></section>
        <div class="form-group">
          <label class="col-sm-3 control-label">8. Applicant Information:</label>
          <div class="col-sm-9">
            <p class="form-control-static"> </p>
          </div>
        </div>

        <!-- Legal Name -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="legalName">* a. Legal Name:</label>
          <div class="col-sm-9 controls">
            <input id="legalName" name="legalName" type="text" placeholder="Dr. Mary Lou LaRue"
              class="form-control applicantInfoSectionComplete" required>
          </div>
        </div>

        <!-- Employer/Taxpayer Identification Number (EIN/TIN) -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="einTin">* b. Employer/Taxpayer Identification Number (EIN/TIN):</label>
          <div class="col-sm-9 controls">
            <input id="einTin" name="einTin" type="text" pattern="\d*" placeholder="1-2345678"
              class="form-control applicantInfoSectionComplete" required>
          </div>
        </div>

        <!-- Organizational DUNS -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="organizationalDUNS">* c. Organizational DUNS:</label>
          <div class="col-sm-9 controls">
            <input id="organizationalDUNS" name="organizationalDUNS" type="text" pattern="\d*" placeholder="12-345-6789"
              class="form-control applicantInfoSectionComplete" required>
          </div>
        </div>

        <!-- Address -->
        <hr>
        <div>
          <div class="form-group">
            <label class="col-sm-3 control-label">d. Address:</label>
            <div class="col-sm-9">
              <p class="form-control-static"> </p>
            </div>
          </div>
          <!-- Street1 -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="street1">* Street1:</label>
            <div class="col-sm-9 controls">
              <input id="street1" name="street1" type="text" placeholder="1966 Main Square"
                class="form-control applicantInfoSectionComplete" required>
            </div>
          </div>
          <!-- Street2 -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="street2">Street2:</label>
            <div class="col-sm-9 controls">
              <input id="street2" name="street2" type="text" placeholder="" class="form-control">
            </div>
          </div>
          <!-- City-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="city">* City:</label>
            <div class="col-sm-9 controls">
              <input id="city" name="city" type="text" placeholder="Whoville"
                class="form-control applicantInfoSectionComplete" required>
            </div>
          </div>
          <!-- County/Parish-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="countyParish">County/Parish:</label>
            <div class="col-sm-9 controls">
              <input id="countyParish" name="countyParish" type="text" placeholder="Snowflake" class="form-control">
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="state">* State:</label>
            <div class="col-sm-9 controls">
              <select id="state" name="state" class="form-control applicantInfoSectionComplete" required
                data-placeholder="Select a state">
                <option></option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MY">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AS">American Samoa</option>
                <option value="FM">Federated States of Micronesia</option>
                <option value="GU">Guam</option>
                <option value="MH">Marshall Islands</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="PW">Palau</option>
                <option value="PR">Puerto Rico</option>
                <option value="PS">Trust Territory of Pacific</option>
                <option value="VI">Virgin Islands or the U.S.</option>
                <option value="FQ">Baker Island</option>
                <option value="HQ">Howard Island</option>
                <option value="JQ">Johnston Atoll</option>
                <option value="KQ">Kingman Reef</option>
                <option value="MQ">Midway Islands</option>
                <option value="BQ">Navassa Island</option>
                <option value="LQ">Palmyra Atoll</option>
                <option value="WQ">Wake Island</option>
                <option value="AA">APO/FPO Central and South America</option>
                <option value="AE">APO/FPO Europe, Middle East, and Africa</option>
                <option value="AP">APO/FPO Korea, Japan, Philippines, Other Pacific</option>
              </select>
            </div>
          </div>
          <!-- Province-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="province">Province:</label>
            <div class="col-sm-9 controls">
              <input id="province" name="province" type="text" placeholder="Mount Crumpit" class="form-control">
            </div>
          </div>
          <!-- Country -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="country">* Country:</label>
            <div class="col-sm-9 controls">
              <select id="country" name="country" class="form-control applicantInfoSectionComplete" required
                data-placeholder="Select a country">
                <option></option>
                <option value="USA">United States</option>
                <option value="ABW">Aruba</option>
                <option value="AFG">Afghanistan</option>
                <option value="AGO">Angola</option>
                <option value="AIA">Anguilla</option>
                <option value="ALA">Åland Islands</option>
                <option value="ALB">Albania</option>
                <option value="AND">Andorra</option>
                <option value="ARE">United Arab Emirates</option>
                <option value="ARG">Argentina</option>
                <option value="ARM">Armenia</option>
                <option value="ASM">American Samoa</option>
                <option value="ATA">Antarctica</option>
                <option value="ATF">French Southern Territories</option>
                <option value="ATG">Antigua and Barbuda</option>
                <option value="AUS">Australia</option>
                <option value="AUT">Austria</option>
                <option value="AZE">Azerbaijan</option>
                <option value="BDI">Burundi</option>
                <option value="BEL">Belgium</option>
                <option value="BEN">Benin</option>
                <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                <option value="BFA">Burkina Faso</option>
                <option value="BGD">Bangladesh</option>
                <option value="BGR">Bulgaria</option>
                <option value="BHR">Bahrain</option>
                <option value="BHS">Bahamas</option>
                <option value="BIH">Bosnia and Herzegovina</option>
                <option value="BLM">Saint Barthélemy</option>
                <option value="BLR">Belarus</option>
                <option value="BLZ">Belize</option>
                <option value="BMU">Bermuda</option>
                <option value="BOL">Bolivia, Plurinational State of</option>
                <option value="BRA">Brazil</option>
                <option value="BRB">Barbados</option>
                <option value="BRN">Brunei Darussalam</option>
                <option value="BTN">Bhutan</option>
                <option value="BVT">Bouvet Island</option>
                <option value="BWA">Botswana</option>
                <option value="CAF">Central African Republic</option>
                <option value="CAN">Canada</option>
                <option value="CCK">Cocos (Keeling) Islands</option>
                <option value="CHE">Switzerland</option>
                <option value="CHL">Chile</option>
                <option value="CHN">China</option>
                <option value="CIV">Côte d'Ivoire</option>
                <option value="CMR">Cameroon</option>
                <option value="COD">Congo, the Democratic Republic of the</option>
                <option value="COG">Congo</option>
                <option value="COK">Cook Islands</option>
                <option value="COL">Colombia</option>
                <option value="COM">Comoros</option>
                <option value="CPV">Cape Verde</option>
                <option value="CRI">Costa Rica</option>
                <option value="CUB">Cuba</option>
                <option value="CUW">Curaçao</option>
                <option value="CXR">Christmas Island</option>
                <option value="CYM">Cayman Islands</option>
                <option value="CYP">Cyprus</option>
                <option value="CZE">Czech Republic</option>
                <option value="DEU">Germany</option>
                <option value="DJI">Djibouti</option>
                <option value="DMA">Dominica</option>
                <option value="DNK">Denmark</option>
                <option value="DOM">Dominican Republic</option>
                <option value="DZA">Algeria</option>
                <option value="ECU">Ecuador</option>
                <option value="EGY">Egypt</option>
                <option value="ERI">Eritrea</option>
                <option value="ESH">Western Sahara</option>
                <option value="ESP">Spain</option>
                <option value="EST">Estonia</option>
                <option value="ETH">Ethiopia</option>
                <option value="FIN">Finland</option>
                <option value="FJI">Fiji</option>
                <option value="FLK">Falkland Islands (Malvinas)</option>
                <option value="FRA">France</option>
                <option value="FRO">Faroe Islands</option>
                <option value="FSM">Micronesia, Federated States of</option>
                <option value="GAB">Gabon</option>
                <option value="GBR">United Kingdom</option>
                <option value="GEO">Georgia</option>
                <option value="GGY">Guernsey</option>
                <option value="GHA">Ghana</option>
                <option value="GIB">Gibraltar</option>
                <option value="GIN">Guinea</option>
                <option value="GLP">Guadeloupe</option>
                <option value="GMB">Gambia</option>
                <option value="GNB">Guinea-Bissau</option>
                <option value="GNQ">Equatorial Guinea</option>
                <option value="GRC">Greece</option>
                <option value="GRD">Grenada</option>
                <option value="GRL">Greenland</option>
                <option value="GTM">Guatemala</option>
                <option value="GUF">French Guiana</option>
                <option value="GUM">Guam</option>
                <option value="GUY">Guyana</option>
                <option value="HKG">Hong Kong</option>
                <option value="HMD">Heard Island and McDonald Islands</option>
                <option value="HND">Honduras</option>
                <option value="HRV">Croatia</option>
                <option value="HTI">Haiti</option>
                <option value="HUN">Hungary</option>
                <option value="IDN">Indonesia</option>
                <option value="IMN">Isle of Man</option>
                <option value="IND">India</option>
                <option value="IOT">British Indian Ocean Territory</option>
                <option value="IRL">Ireland</option>
                <option value="IRN">Iran, Islamic Republic of</option>
                <option value="IRQ">Iraq</option>
                <option value="ISL">Iceland</option>
                <option value="ISR">Israel</option>
                <option value="ITA">Italy</option>
                <option value="JAM">Jamaica</option>
                <option value="JEY">Jersey</option>
                <option value="JOR">Jordan</option>
                <option value="JPN">Japan</option>
                <option value="KAZ">Kazakhstan</option>
                <option value="KEN">Kenya</option>
                <option value="KGZ">Kyrgyzstan</option>
                <option value="KHM">Cambodia</option>
                <option value="KIR">Kiribati</option>
                <option value="KNA">Saint Kitts and Nevis</option>
                <option value="KOR">Korea, Republic of</option>
                <option value="KWT">Kuwait</option>
                <option value="LAO">Lao People's Democratic Republic</option>
                <option value="LBN">Lebanon</option>
                <option value="LBR">Liberia</option>
                <option value="LBY">Libya</option>
                <option value="LCA">Saint</option> Lucia
                <option value="LIE">Liechtenstein</option>
                <option value="LKA">Sri</option> Lanka
                <option value="LSO">Lesotho</option>
                <option value="LTU">Lithuania</option>
                <option value="LUX">Luxembourg</option>
                <option value="LVA">Latvia</option>
                <option value="MAC">Macao</option>
                <option value="MAF">Saint Martin (French part)</option>
                <option value="MAR">Morocco</option>
                <option value="MCO">Monaco</option>
                <option value="MDA">Moldova, Republic of</option>
                <option value="MDG">Madagascar</option>
                <option value="MDV">Maldives</option>
                <option value="MEX">Mexico</option>
                <option value="MHL">Marshall Islands</option>
                <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                <option value="MLI">Mali</option>
                <option value="MLT">Malta</option>
                <option value="MMR">Myanmar</option>
                <option value="MNE">Montenegro</option>
                <option value="MNG">Mongolia</option>
                <option value="MNP">Northern Mariana Islands</option>
                <option value="MOZ">Mozambique</option>
                <option value="MRT">Mauritania</option>
                <option value="MSR">Montserrat</option>
                <option value="MTQ">Martinique</option>
                <option value="MUS">Mauritius</option>
                <option value="MWI">Malawi</option>
                <option value="MYS">Malaysia</option>
                <option value="MYT">Mayotte</option>
                <option value="NAM">Namibia</option>
                <option value="NCL">New Caledonia</option>
                <option value="NER">Niger</option>
                <option value="NFK">Norfolk Island</option>
                <option value="NGA">Nigeria</option>
                <option value="NIC">Nicaragua</option>
                <option value="NIU">Niue</option>
                <option value="NLD">Netherlands</option>
                <option value="NOR">Norway</option>
                <option value="NPL">Nepal</option>
                <option value="NRU">Nauru</option>
                <option value="NZL">New Zealand</option>
                <option value="OMN">Oman</option>
                <option value="PAK">Pakistan</option>
                <option value="PAN">Panama</option>
                <option value="PCN">Pitcairn</option>
                <option value="PER">Peru</option>
                <option value="PHL">Philippines</option>
                <option value="PLW">Palau</option>
                <option value="PNG">Papua New Guinea</option>
                <option value="POL">Poland</option>
                <option value="PRI">Puerto Rico</option>
                <option value="PRK">Korea, Democratic People's Republic of</option>
                <option value="PRT">Portugal</option>
                <option value="PRY">Paraguay</option>
                <option value="PSE">Palestine, State of</option>
                <option value="PYF">French Polynesia</option>
                <option value="QAT">Qatar</option>
                <option value="REU">R</option>éunion
                <option value="ROU">Romania</option>
                <option value="RUS">Russian Federation</option>
                <option value="RWA">Rwanda</option>
                <option value="SAU">Saudi Arabia</option>
                <option value="SDN">Sudan</option>
                <option value="SEN">Senegal</option>
                <option value="SGP">Singapore</option>
                <option value="SGS">South Georgia and the South Sandwich Islands</option>
                <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="SJM">Svalbard and Jan Mayen</option>
                <option value="SLB">Solomon Islands</option>
                <option value="SLE">Sierra Leone</option>
                <option value="SLV">El Salvador</option>
                <option value="SMR">San Marino</option>
                <option value="SOM">Somalia</option>
                <option value="SPM">Saint Pierre and Miquelon</option>
                <option value="SRB">Serbia</option>
                <option value="SSD">South Sudan</option>
                <option value="STP">Sao Tome and Principe</option>
                <option value="SUR">Suriname</option>
                <option value="SVK">Slovakia</option>
                <option value="SVN">Slovenia</option>
                <option value="SWE">Sweden</option>
                <option value="SWZ">Swaziland</option>
                <option value="SXM">Sint Maarten (Dutch part)</option>
                <option value="SYC">Seychelles</option>
                <option value="SYR">Syrian Arab Republic</option>
                <option value="TCA">Turks and Caicos Islands</option>
                <option value="TCD">Chad</option>
                <option value="TGO">Togo</option>
                <option value="THA">Thailand</option>
                <option value="TJK">Tajikistan</option>
                <option value="TKL">Tokelau</option>
                <option value="TKM">Turkmenistan</option>
                <option value="TLS">Timor-Leste</option>
                <option value="TON">Tonga</option>
                <option value="TTO">Trinidad and Tobago</option>
                <option value="TUN">Tunisia</option>
                <option value="TUR">Turkey</option>
                <option value="TUV">Tuvalu</option>
                <option value="TWN">Taiwan, Province of China</option>
                <option value="TZA">Tanzania, United Republic of</option>
                <option value="UGA">Uganda</option>
                <option value="UKR">Ukraine</option>
                <option value="UMI">United States Minor Outlying Islands</option>
                <option value="URY">Uruguay</option>
                <option value="UZB">Uzbekistan</option>
                <option value="VAT">Holy See (Vatican City State)</option>
                <option value="VCT">Saint Vincent and the Grenadines</option>
                <option value="VEN">Venezuela, Bolivarian Republic of</option>
                <option value="VGB">Virgin Islands, British</option>
                <option value="VIR">Virgin Islands, U.S.</option>
                <option value="VNM">Viet Nam</option>
                <option value="VUT">Vanuatu</option>
                <option value="WLF">Wallis and Futuna</option>
                <option value="WSM">Samoa</option>
                <option value="YEM">Yemen</option>
                <option value="ZAF">South Africa</option>
                <option value="ZMB">Zambia</option>
                <option value="ZWE">Zimbabwe</option>
              </select>
            </div>
          </div>
          <!-- ZIP Code-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="zipPostalCode">* Zip/Postal Code:</label>
            <div class="col-sm-9 controls">
              <input id="zipPostalCode" name="zipPostalCode" type="text" pattern="\d*" placeholder="12345-6789"
                class="form-control applicantInfoSectionComplete" required>
            </div>
          </div>
        </div>

        <!-- Organizational Unit -->
        <hr>
        <div>
          <div class="form-group">
            <label class="col-sm-3 control-label">e. Organizational Unit:</label>
            <div class="col-sm-9">
              <p class="form-control-static"> </p>
            </div>
          </div>
          <!-- Department Name-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="departmentName">Department Name:</label>
            <div class="col-sm-9 controls">
              <input id="departmentName" name="departmentName" type="text" placeholder="" class="form-control">
            </div>
          </div>
          <!-- Division Name-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="divisionName">Division Name:</label>
            <div class="col-sm-9 controls">
              <input id="divisionName" name="divisionName" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <!-- Name and contact information of person to be contacted on matters involving this application -->
        <hr>
        <section id="contactInfo"></section>
        <div>
          <div class="form-group">
            <label class="col-sm-3 control-label">f. Contact information</label>
            <div class="col-sm-9">
              <p class="form-control-static"><b>Name and contact information of person to be contacted on matters involving this application:</b></p>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="prefix">Prefix:</label>
            <div class="col-sm-9 controls">
              <select id="prefix" name="prefix" class="form-control">
                <option></option>
                <option value="Mr.">Mr.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Miss">Miss</option>
                <option value="Ms.">Ms.</option>
                <option value="Dr.">Dr.</option>
                <option value="Rev.">Rev.</option>
                <option value="Prof.">Prof.</option>
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="firstName">* First Name:</label>
            <div class="col-sm-9 controls">
              <input id="firstName" name="firstName" type="text" placeholder="Mary"
                class="form-control contactInfoSectionComplete" required>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="middleName">Middle Name:</label>
            <div class="col-sm-9 controls">
              <input id="middleName" name="middleName" type="text" placeholder="Lou" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="lastName">* Last Name:</label>
            <div class="col-sm-9 controls">
              <input id="lastName" name="lastName" type="text" placeholder="LaRue"
                class="form-control contactInfoSectionComplete" required>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="suffix">Suffix</label>
            <div class="col-sm-9 controls">
              <select id="suffix" name="suffix" class="form-control">
                <option></option>
                <option value="Jr.">Jr.</option>
                <option value="Sr.">Sr.</option>
                <option value="M.D.">M.D.</option>
                <option value="PhD.">Ph.D.</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Title -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="title">Title:</label>
          <div class="col-sm-9 controls">
            <input id="title" name="title" type="text" placeholder="Scientist" class="form-control">
          </div>
        </div>

        <!-- Organizational Affiliation -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="organizationalAffiliation">Organizational Affiliation:</label>
          <div class="col-sm-9 controls">
            <input id="organizationalAffiliation" name="organizationalAffiliation" type="text" placeholder="" class="form-control">
          </div>
        </div>

        <!-- Telephone Number -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="telephoneNumber">* Telephone Number:</label>
          <div class="col-sm-9 controls">
            <input id="telephoneNumber" name="telephoneNumber" type="tel" placeholder="(123) 456-7890"
              class="form-control contactInfoSectionComplete" required>
          </div>
        </div>

        <!-- Fax Number -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="faxNumber">Fax Number:</label>
          <div class="col-sm-9 controls">
            <input id="faxNumber" name="faxNumber" type="tel" placeholder="(123) 456-7890" class="form-control">
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label id="emailAddressLabel" class="easyPopover col-sm-3 control-label" for="emailAddress">* Email:</label>
          <div class="col-sm-9 controls">
            <input id="emailAddress" name="emailAddress" type="email" placeholder="mlarue@who.edu"
              class="form-control contactInfoSectionComplete" required>
          </div>
        </div>

        <!-- submit/save -->
        <hr>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Save Progress</button>
            &nbsp;
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
