<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{#link-to 'landing'}}Create a new proposal{{/link-to}}</li>
        </ul>
    </div> <!-- panel -->
  </div> <!-- column -->
  </div> <!-- row -->
  <p>
  <div class="row clearfix">
    <div class="col-md-3 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Proposals</h3>
        </div>
        <ul class="list-group">
          {{#each controller}}
            <li class="list-group-item">{{#link-to "proposal" this}}{{title}}{{/link-to}}</li>
          {{else}}
            <li class="list-group-item">There are no proposals.</li>
          {{/each}}
        </ul>
      </div> <!-- panel -->
    </div> <!-- column -->
  </div> <!-- row -->
</div> <!-- container -->
