<ul class="list-group">
  {{#each controller}}
    <li class="list-group-item">{{#link-to "proposal" this}}{{title}}{{/link-to}}</li>
  {{else}}
    <li>There are no proposals.</li>
  {{/each}}
</ul>

{{outlet}}
